<div class="Susanoo_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>

  <div class="field">
    <%= f.text_field :name, size: 40, placeholder: 'Name', :class => 'input_field' %>
  </div>
    <% if params[:action] == 'edit' || params[:action] == 'update' %>
        <div class="field">
          <%= f.password_field :current_password, size: 40, placeholder: 'Current password',
                               :class => 'input_field' %>
        </div>
    <% end %>
  <div class="field">
    <%= f.password_field :password, size: 40, placeholder: 'New password', :class => 'input_field' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, size: 40, placeholder: 'Confirm new password',
                         :class => 'input_field' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button_primary' %>
  </div>

  </fieldset>
<% end %>
</div>
