<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Listing Orders</h1>

<div class="orders-table">
  <table class="table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Pay type</th>
        <th>Items</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.address %></td>
          <td><%= order.email %></td>
          <td><%= order.pay_type %></td>
          <td>
            <% order.line_items.each do |line_item| %>
              <%= "#{Product.find(line_item.product_id).title}," %>
              <%= "$#{Product.find(line_item.product_id).price} x" %>
              <%= line_item.quantity %>
              <br>
            <% end %>
          </td>
          <td><%= order.created_at.strftime('%F, %H:%M') %></td>
          <td><%= link_to 'Show', order %> | <%= link_to 'Edit', edit_order_path(order) %>
            | <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><%= paginate @orders %></p>

<%= link_to 'New Order', new_order_path %>
