<h2><%= t('.title_html') %></h2>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total:</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= button_to t('.checkout_html'), new_order_path, method: :get, :class => 'button_primary' %>
<br><br>
<%= button_to t('.empty_html'), cart, method: :delete, :class => 'button',
              data: { confirm: t('.empty_confirm_html') } %>
